#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [5]:
import pandas as pd
df = pd.read_csv('supermarket_sales.csv')
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [3]:
cd C:\Users\Jools\Documents\DA\data

C:\Users\Jools\Documents\DA\data

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [7]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [13]:
total_profit_by_branch = df.groupby('Branch')['Total'].sum()
total_profit_by_branch

Branch
A    106200.3705
B    106197.6720
C    110568.7065
Name: Total, dtype: float64

In [15]:
most_profitable_branch = total_profit_by_branch.idxmax()
most_profitable_branch

'C'

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [19]:
branch_info = df[df['Branch'] == most_profitable_branch]
city_of_most_profitable_branch = branch_info['City'].iloc[0]
city_of_most_profitable_branch

'Naypyitaw'

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [24]:
invoices_by_category = df.pivot_table(index='Branch', columns='Product line', values='Invoice ID', aggfunc='count')
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [29]:
most_invoices_branch = invoices_by_category['Electronic accessories'].idxmax()
most_invoices_count = invoices_by_category['Electronic accessories'].max()

print("–§—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–±—ñ–ª—å—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é —ñ–Ω–≤–æ–π—Å—ñ–≤ —É –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó 'Electronic accessories':", most_invoices_branch)
print("–ö—ñ–ª—å–∫—ñ—Å—Ç—å —ñ–Ω–≤–æ–π—Å—ñ–≤ —É —Ü—å–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ:", most_invoices_count)

–§—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–±—ñ–ª—å—à–æ—é –∫—ñ–ª—å–∫—ñ—Å—Ç—é —ñ–Ω–≤–æ–π—Å—ñ–≤ —É –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó 'Electronic accessories': A
–ö—ñ–ª—å–∫—ñ—Å—Ç—å —ñ–Ω–≤–æ–π—Å—ñ–≤ —É —Ü—å–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ: 60

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

–ì—ñ–ø–æ—Ç–µ–∑–∏:
1. –ß–∏ –≤–ø–ª–∏–Ω–µ —Ç–∏–ø –æ–ø–ª–∞—Ç–∏ –Ω–∞ —Å–µ—Ä–µ–¥–Ω—é —Å—É–º—É —á–µ–∫—É?
–ì—ñ–ø–æ—Ç–µ–∑–∞: –ú–æ–∂–ª–∏–≤–æ, —Ä—ñ–∑–Ω—ñ —Å–ø–æ—Å–æ–±–∏ –æ–ø–ª–∞—Ç–∏ (–≥–æ—Ç—ñ–≤–∫–∞, –∫—Ä–µ–¥–∏—Ç–Ω–∞ –∫–∞—Ä—Ç–∫–∞, —Ç–æ—â–æ) –≤–ø–ª–∏–≤–∞—é—Ç—å –Ω–∞ —Å–µ—Ä–µ–¥–Ω—é —Å—É–º—É —á–µ–∫—É. –ù–∞–ø—Ä–∏–∫–ª–∞–¥, –ø–æ–∫—É–ø—Ü—ñ, —è–∫—ñ –ø–ª–∞—Ç—è—Ç—å –∫—Ä–µ–¥–∏—Ç–Ω–æ—é –∫–∞—Ä—Ç–∫–æ—é, –º–æ–∂—É—Ç—å –≤–∏—Ç—Ä–∞—á–∞—Ç–∏ –±—ñ–ª—å—à–µ –≥—Ä–æ—à–µ–π, –Ω—ñ–∂ —Ç—ñ, —Ö—Ç–æ –ø–ª–∞—Ç–∏—Ç—å –≥–æ—Ç—ñ–≤–∫–æ—é.

2. –Ø–∫–∏–π —Ä—ñ–≤–µ–Ω—å –∑–∞–¥–æ–≤–æ–ª–µ–Ω–Ω—è –∫–ª—ñ—î–Ω—Ç—ñ–≤ (—Ä–µ–π—Ç–∏–Ω–≥) –≤–ø–ª–∏–≤–∞—î –Ω–∞ –∑–∞–≥–∞–ª—å–Ω—É —Å—É–º—É —á–µ–∫—É?
–ì—ñ–ø–æ—Ç–µ–∑–∞: –ö–ª—ñ—î–Ω—Ç–∏ –∑ –≤–∏—Å–æ–∫–∏–º —Ä–µ–π—Ç–∏–Ω–≥–æ–º –º–æ–∂—É—Ç—å –≤–∏—Ç—Ä–∞—á–∞—Ç–∏ –±—ñ–ª—å—à–µ –≥—Ä–æ—à–µ–π. –ù–∞–ø—Ä–∏–∫–ª–∞–¥, –≤–∏—Å–æ–∫–∏–π —Ä—ñ–≤–µ–Ω—å –∑–∞–¥–æ–≤–æ–ª–µ–Ω–Ω—è –º–æ–∂–µ –∫–æ—Ä–µ–ª—é–≤–∞—Ç–∏ –∑ –±—ñ–ª—å—à–∏–º–∏ –≤–∏—Ç—Ä–∞—Ç–∞–º–∏ –Ω–∞ –ø–æ–∫—É–ø–∫–∏.

3. –Ø–∫—ñ –¥–Ω—ñ —Ç–∏–∂–Ω—è –º–∞—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–∏–π –æ–±—Å—è–≥ –ø—Ä–æ–¥–∞–∂—ñ–≤?
–ì—ñ–ø–æ—Ç–µ–∑–∞: –î–µ—è–∫—ñ –¥–Ω—ñ —Ç–∏–∂–Ω—è –º–æ–∂—É—Ç—å –º–∞—Ç–∏ –±—ñ–ª—å—à–∏–π –æ–±—Å—è–≥ –ø—Ä–æ–¥–∞–∂—ñ–≤, –Ω—ñ–∂ —ñ–Ω—à—ñ. –ù–∞–ø—Ä–∏–∫–ª–∞–¥, –≤–∏—Ö—ñ–¥–Ω—ñ –¥–Ω—ñ –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—ñ–ª—å—à –ø—Ä–∏–±—É—Ç–∫–æ–≤–∏–º–∏ —á–µ—Ä–µ–∑ –±—ñ–ª—å—à–µ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ–∫—É–ø—Ü—ñ–≤, —è–∫—ñ –≤—ñ–¥–≤—ñ–¥—É—é—Ç—å –º–∞–≥–∞–∑–∏–Ω–∏ –Ω–∞ –≤–∏—Ö—ñ–¥–Ω–∏—Ö.

–ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –≥—ñ–ø–æ—Ç–µ–∑–∏ 1

In [51]:
avg_total_by_payment = df.groupby('Payment')['Total'].mean()
print(avg_total_by_payment)

Payment
Cash           326.181890
Credit card    324.009878
Ewallet        318.820600
Name: Total, dtype: float64

–í–ø–ª–∏–≤ —Ç–∏–ø—É –æ–ø–ª–∞—Ç–∏ –Ω–∞ —Å–µ—Ä–µ–¥–Ω—é —Å—É–º—É —á–µ–∫—É: 
–Ø–∫ –º–æ–∂–µ–º–æ –ø–æ–±–∞—á–∏—Ç–∏, —Ç–∏–ø –æ–ø–ª–∞—Ç–∏ –Ω–µ –¥—É–∂–µ –≤–ø–ª–∏–≤–∞—î –Ω–∞ —Å–µ—Ä–µ–¥–Ω—é —Å—É–º—É —á–µ–∫—É —ñ –≤–∞—Ä—ñ—é—î—Ç—å—Å—è –≤—Å—å–æ–≥–æ –≤ –º–µ–∂–∞—Ö 8 –¥–æ–ª–∞—Ä—ñ–≤.

–ì—ñ–ø–æ—Ç–µ–∑–∞ –Ω–µ –ø—ñ–¥—Ç–≤–µ—Ä–¥–∏–ª–∞—Å—å, –∞–ª–µ —è–∫—â–æ –± –≤–∏—è–≤–∏–ª–æ—Å—è, —â–æ –ø–µ–≤–Ω–∏–π —Ç–∏–ø –æ–ø–ª–∞—Ç–∏ –ø–æ–≤'—è–∑–∞–Ω–∏–π –∑ –≤–∏—â–∏–º–∏ –≤–∏—Ç—Ä–∞—Ç–∞–º–∏, –¥–æ—Ü—ñ–ª—å–Ω–æ –±—É–ª–æ –± —Ä–æ–∑–≥–ª—è–Ω—É—Ç–∏ –º–æ–∂–ª–∏–≤—ñ—Å—Ç—å —Å—Ç–∏–º—É–ª—é–≤–∞–Ω–Ω—è –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–Ω—è —Ü—å–æ–≥–æ –º–µ—Ç–æ–¥—É –æ–ø–ª–∞—Ç–∏ —á–µ—Ä–µ–∑ –∞–∫—Ü—ñ—ó –∞–±–æ –∑–Ω–∏–∂–∫–∏.

–ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –≥—ñ–ø–æ—Ç–µ–∑–∏ 2

In [81]:
df['Rounded Rating'] = df['Rating'].round().astype(int)
avg_total_by_rating = df.groupby('Rounded Rating')['Total'].mean()
print(avg_total_by_rating.sort_values(ascending=False))

Rounded Rating
4     368.104985
5     341.557579
9     339.228936
8     311.221115
7     310.826547
6     305.361870
10    302.115710
Name: Total, dtype: float64

–í–ø–ª–∏–≤ —Ä—ñ–≤–Ω—è –∑–∞–¥–æ–≤–æ–ª–µ–Ω–Ω—è –∫–ª—ñ—î–Ω—Ç—ñ–≤ –Ω–∞ —Å—É–º—É —á–µ–∫—É: –∑ –≤–∏—è–≤–ª–µ–Ω–∏—Ö –¥–∞–Ω–∏—Ö - –Ω–∞–π–±—ñ–ª—å—à–∏–π —Å–µ—Ä–µ–¥–Ω—ñ–π —á–µ–∫ –ø—Ä–∏–Ω–æ—Å—è—Ç—å –ø–æ–∫—É–ø—Ü—ñ –∑ –¥–æ–≤–æ–ª—ñ –Ω–∏–∑—å–∫–∏–º —Ä—ñ–≤–Ω–µ–º –∑–∞–¥–æ–≤–æ–ª–µ–Ω–Ω—è "4", —â–æ —Å–≤—ñ–¥—á–∏—Ç—å –ø—Ä–æ –≤—ñ–¥—Å—É—Ç–Ω—é –∫–æ—Ä–µ–ª—è—Ü—ñ—é —Ä—ñ–≤–Ω—è –∑–∞–¥–æ–≤–æ–ª–µ–Ω–Ω—è —Ç–∞ —Å—É–º–∏ —á–µ–∫—É –ø–æ–∫—É–ø—Ü—è. –ü—Ä–∏ —Ü—å–æ–º—É –Ω–∞–π–±—ñ–ª—å—à –∑–∞–¥–æ–≤–æ–ª–µ–Ω—ñ –ø–æ–∫—É–ø—Ü—ñ, –≤ —Å–µ—Ä–µ–¥–Ω—å–æ–º—É –≤–∏—Ç—Ä–∞—á–∞—é—Ç—å –º–µ–Ω—à–µ.

–ì—ñ–ø–æ—Ç–µ–∑–∞ –Ω–µ –ø—ñ–¥—Ç–≤–µ—Ä–¥–∏–ª–∞—Å—å, –∞–ª–µ —è–∫—â–æ –± –∫–ª—ñ—î–Ω—Ç–∏ –∑ –≤–∏—Å–æ–∫–∏–º —Ä–µ–π—Ç–∏–Ω–≥–æ–º –≤–∏—Ç—Ä–∞—á–∞–ª–∏ –±—ñ–ª—å—à–µ, –∫–æ–º–ø–∞–Ω—ñ—è –º–æ–∂–µ –∑–æ—Å–µ—Ä–µ–¥–∏—Ç–∏—Å—è –Ω–∞ –ø—ñ–¥–≤–∏—â–µ–Ω–Ω—ñ —Ä—ñ–≤–Ω—è –∑–∞–¥–æ–≤–æ–ª–µ–Ω–Ω—è –∫–ª—ñ—î–Ω—Ç—ñ–≤ —á–µ—Ä–µ–∑ –ø–æ–∫—Ä–∞—â–µ–Ω–Ω—è –æ–±—Å–ª—É–≥–æ–≤—É–≤–∞–Ω–Ω—è –∞–±–æ –ø—Ä–æ–¥—É–∫—Ç—ñ–≤ –¥–ª—è –∑–±—ñ–ª—å—à–µ–Ω–Ω—è —Å–µ—Ä–µ–¥–Ω—å–æ—ó —Å—É–º–∏ —á–µ–∫—É.

–ü–µ—Ä–µ–≤—ñ—Ä–∫–∞ –≥—ñ–ø–æ—Ç–µ–∑–∏ 3

In [92]:
df['Date'] = pd.to_datetime(df['Date'])
df['Day of Week'] = df['Date'].dt.day_name()
total_sales_by_day = df.groupby('Day of Week')['Total'].sum().sort_values(ascending=False)
print(total_sales_by_day)

Day of Week
Saturday     56120.8095
Tuesday      51482.2455
Thursday     45349.2480
Sunday       44457.8925
Friday       43926.3405
Wednesday    43731.1350
Monday       37899.0780
Name: Total, dtype: float64

–û–±—Å—è–≥ –ø—Ä–æ–¥–∞–∂—ñ–≤ –ø–æ –¥–Ω—è–º —Ç–∏–∂–Ω—è: —è–∫ –º–æ–∂–µ–º–æ –ø–æ–±–∞—á–∏—Ç–∏, –Ω–∞–π–±—ñ–ª—å—à –ø—Ä–∏–±—É—Ç–∫–æ–≤–∏–º–∏ –¥–Ω—è–º–∏ —î —Å—É–±–æ—Ç–∞ —Ç–∞ –≤—ñ–≤—Ç–æ—Ä–æ–∫, –Ω–∞–π–º–µ–Ω—à –ø—Ä–∏–±—É—Ç–∫–æ–≤–∏–º–∏ —î –ø–æ–Ω–µ–¥—ñ–ª–æ–∫ —Ç–∞ —Å–µ—Ä–µ–¥–∞.
–í —Ç–∞–∫–æ–º—É –≤–∏–ø–∞–¥–∫—É, –º–æ–∂–Ω–∞ —Å—Ç–≤–æ—Ä–∏—Ç–∏ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤—ñ –∫–∞–º–ø–∞–Ω—ñ—ó, –∞–∫—Ü—ñ—ó —Ç–∞ –∑–Ω–∏–∂–∫–∏ —É –Ω–∞–π–º–µ–Ω—à –ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ –¥–Ω—ñ, –∑–∞–¥–ª—è –±—ñ–ª—å—à–æ–≥–æ –∑–∞–ª—É—á–µ–Ω–Ω—è –ø–æ–∫—É–ø—Ü—ñ–≤ —É —Ü—ñ –¥–Ω—ñ.