#Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [5]:
import pandas as pd
df = pd.read_csv('supermarket_sales.csv')
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [3]:
cd C:\Users\Jools\Documents\DA\data

C:\Users\Jools\Documents\DA\data

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [7]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [13]:
total_profit_by_branch = df.groupby('Branch')['Total'].sum()
total_profit_by_branch

Branch
A    106200.3705
B    106197.6720
C    110568.7065
Name: Total, dtype: float64

In [15]:
most_profitable_branch = total_profit_by_branch.idxmax()
most_profitable_branch

'C'

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [19]:
branch_info = df[df['Branch'] == most_profitable_branch]
city_of_most_profitable_branch = branch_info['City'].iloc[0]
city_of_most_profitable_branch

'Naypyitaw'

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [24]:
invoices_by_category = df.pivot_table(index='Branch', columns='Product line', values='Invoice ID', aggfunc='count')
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [29]:
most_invoices_branch = invoices_by_category['Electronic accessories'].idxmax()
most_invoices_count = invoices_by_category['Electronic accessories'].max()

print("Філіал з найбільшою кількістю інвойсів у категорії 'Electronic accessories':", most_invoices_branch)
print("Кількість інвойсів у цьому філіалі:", most_invoices_count)

Філіал з найбільшою кількістю інвойсів у категорії 'Electronic accessories': A
Кількість інвойсів у цьому філіалі: 60

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

Гіпотези:
1. Чи вплине тип оплати на середню суму чеку?
Гіпотеза: Можливо, різні способи оплати (готівка, кредитна картка, тощо) впливають на середню суму чеку. Наприклад, покупці, які платять кредитною карткою, можуть витрачати більше грошей, ніж ті, хто платить готівкою.

2. Який рівень задоволення клієнтів (рейтинг) впливає на загальну суму чеку?
Гіпотеза: Клієнти з високим рейтингом можуть витрачати більше грошей. Наприклад, високий рівень задоволення може корелювати з більшими витратами на покупки.

3. Які дні тижня мають найбільший обсяг продажів?
Гіпотеза: Деякі дні тижня можуть мати більший обсяг продажів, ніж інші. Наприклад, вихідні дні можуть бути більш прибутковими через більше кількість покупців, які відвідують магазини на вихідних.

Перевірка гіпотези 1

In [51]:
avg_total_by_payment = df.groupby('Payment')['Total'].mean()
print(avg_total_by_payment)

Payment
Cash           326.181890
Credit card    324.009878
Ewallet        318.820600
Name: Total, dtype: float64

Вплив типу оплати на середню суму чеку: 
Як можемо побачити, тип оплати не дуже впливає на середню суму чеку і варіюється всього в межах 8 доларів.

Гіпотеза не підтвердилась, але якщо б виявилося, що певний тип оплати пов'язаний з вищими витратами, доцільно було б розглянути можливість стимулювання використання цього методу оплати через акції або знижки.

Перевірка гіпотези 2

In [81]:
df['Rounded Rating'] = df['Rating'].round().astype(int)
avg_total_by_rating = df.groupby('Rounded Rating')['Total'].mean()
print(avg_total_by_rating.sort_values(ascending=False))

Rounded Rating
4     368.104985
5     341.557579
9     339.228936
8     311.221115
7     310.826547
6     305.361870
10    302.115710
Name: Total, dtype: float64

Вплив рівня задоволення клієнтів на суму чеку: з виявлених даних - найбільший середній чек приносять покупці з доволі низьким рівнем задоволення "4", що свідчить про відсутню кореляцію рівня задоволення та суми чеку покупця. При цьому найбільш задоволені покупці, в середньому витрачають менше.

Гіпотеза не підтвердилась, але якщо б клієнти з високим рейтингом витрачали більше, компанія може зосередитися на підвищенні рівня задоволення клієнтів через покращення обслуговування або продуктів для збільшення середньої суми чеку.

Перевірка гіпотези 3

In [92]:
df['Date'] = pd.to_datetime(df['Date'])
df['Day of Week'] = df['Date'].dt.day_name()
total_sales_by_day = df.groupby('Day of Week')['Total'].sum().sort_values(ascending=False)
print(total_sales_by_day)

Day of Week
Saturday     56120.8095
Tuesday      51482.2455
Thursday     45349.2480
Sunday       44457.8925
Friday       43926.3405
Wednesday    43731.1350
Monday       37899.0780
Name: Total, dtype: float64

Обсяг продажів по дням тижня: як можемо побачити, найбільш прибутковими днями є субота та вівторок, найменш прибутковими є понеділок та середа.
В такому випадку, можна створити маркетингові кампанії, акції та знижки у найменш прибуткові дні, задля більшого залучення покупців у ці дні.